body{
    margin: 0;
    
    height: 100%;
    color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("/KanbanProject/Imgs/FundoLogin.png");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.HeaderContainer{
    display: flex;
    margin: 1px 1px 1px 1px;
    height: 80px;
    width: 99.8%;
    background-color: rgb(14, 13, 13);
    box-shadow: 0px 0px 4px 1px rgb(128, 115, 88);
    justify-self: center;
    border-radius: 7px;
  
}
.logo{display: flex; padding: 13px;}
.imgLogo{width: 70px; height: 70px;}
.nmLogo{
    
    color: #ffffff;
    
    
    
   
}

.MainContainer{
    
    display: grid;
    height:320px;
    width: 430px;
    background-color: rgb(14, 13, 13);
    box-shadow: 4px 4px 8px 6px rgb(209, 208, 208);
    justify-self: center;
    align-self: center;
    

    margin-top: 100px;
    border-radius: 11px;
    
}
.Titulo{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
}

input {
 border: 1px solid #e8e8e8;
 padding: 12px;
 border-radius: 10px;
 background-color: #ffffff;
 font-size: small;
 font-weight: bold;
 text-align: center;
}

input:focus {
 outline-color: white;
 background-color: #fdfdfd;
 color: #000000;
 box-shadow: 3px 3px #888888;
}

.nome{
    text-align: center;
    margin-bottom: 20px;
    
}
.senha{
    text-align: center;
    margin-bottom: 20px;
}


.login{
    text-align: center;
    margin-bottom: 20px;
}

button {
 font-size: 17px;
 padding: 0.5em 2em;
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background: rgb(228, 228, 228);
 color: rgb(0, 0, 0);
 border-radius: 4px;
}

button:hover {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}

button:active {
 transform: translate(0em, 0.2em);
}
.registro{text-align: center; margin-bottom: 20px;}
.registro a{
    color: #0dd8ce;
    
}

.SobreContainer{
    margin-top: 200px;
    width: 99.8%;
    color: white;
    background-color: rgb(14, 13, 13);
    justify-self: center;
    border-radius: 7px;
    box-shadow: 4px 4px 8px 6px rgb(209, 208, 208);
}
.txtSobre{
    text-align: left;
    margin-bottom: 20px;
    padding: 0px 10px 10px 30px;
}
.txtSobre h1{padding-top: 10px;}
